<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.customct.LaunchBar.action.ScriptPad-AppendBulletinBoard</string>
	<key>CFBundleName</key>
	<string>ScriptPad - Append BulletinBoard</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAbbreviation</key>
	<string>abb</string>
	<key>LBArgument</key>
	<string>text</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>text</string>
		<key>LBAuthor</key>
		<string>Richard Guay</string>
		<key>LBEmail</key>
		<string>raguay@customct.com</string>
		<key>LBResult</key>
		<string>text is appended to the BulletinBoard.</string>
		<key>LBSummary</key>
		<string>This action is used to append some text into the BulletinBoard of ScriptPad.</string>
		<key>LBTwitter</key>
		<string>@CustomComputerT</string>
		<key>LBWebsiteURL</key>
		<string>customct.com</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBResult</key>
	<string>text is appended to the BulletinBoard.</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBAllowsInstantReuseOfLastTextInputString</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Text to append to the BulletinBoard</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>NSHumanReadableCopyright</key>
	<string>MIT</string>
</dict>
</plist>
