<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.customct.LaunchBar.action.ScriptPad-RunTemplate</string>
	<key>CFBundleName</key>
	<string>ScriptPad - Run Template</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAbbreviation</key>
	<string>spt</string>
	<key>LBArgument</key>
	<string>text and a script</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>text and a script</string>
		<key>LBAuthor</key>
		<string>Richard Guay</string>
		<key>LBEmail</key>
		<string>raguay@customct.com</string>
		<key>LBRequirements</key>
		<string>ScriptPad.app</string>
		<key>LBResult</key>
		<string>processed text.</string>
		<key>LBSummary</key>
		<string>This action take text to run through script in ScriptPad.</string>
		<key>LBTwitter</key>
		<string>@CustomComputerT</string>
		<key>LBWebsiteURL</key>
		<string>http://customct.com</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBRequirements</key>
	<string>ScriptPad.app</string>
	<key>LBResult</key>
	<string>processed text.</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>String to process...</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSHumanReadableCopyright</key>
	<string>MIT</string>
</dict>
</plist>
